.about-me {
    padding: 50px;
    background: white;
    text-align: center;

    h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .about-text {
            max-width: 50%;
            text-align: left;
            p {
                font-size: 1.2rem;
                line-height: 1.6;
            }
        }
    }
}

@media (width<500px){
    .about-text{
        text-align: justify;
    }
}