
    <section class="about-me">
        <h2>About Me</h2>
        <div class="about-container">
            <div class="about-text">
                <p>Hello! I'm Utsav, a passionate web developer who loves crafting interactive and visually appealing websites. 
                  I am currently working as a Frontend Intern in Axeno.   </p>
                <p>
                    Apart from Front-end development, I am also Proficient with technologies like Data Science, Machine Learning 
                    and Neural Networks.
                </p>
                </div>

            <div class="about-img">
                <img src="13-22-56-246_512-ezgif.com-webp-to-gif-converter.gif" alt="">
            </div>
            
        </div>
    </section>
