$primary-color: #540275;
$secondary-color: #99CCCC;
$danger-color: #e74c3c;
$background-color: #f5f5f5;
$input-border-color: #27262665;
$focus-color: #540275;

.main-form {
    justify-content: flex-start;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.788);
    padding: 30px;
    padding-top: 50px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 4 4px 15px rgba(15, 3, 3, 0.1);
    @media (max-width: 500px) {
        padding: 20px;
        gap: 15px;
    }

    &-name, &-email, &-password, &-number {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

#name, #email, #password, #number {
    padding: 12px 16px;
    border: 1px solid $input-border-color;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
    outline: none;
    color: #333;
    max-width: 20rem;
    height: 3rem;

    &:focus {
        border-color: $focus-color;
    }

    &::placeholder {
        color: #aaa;
    }
}

#btn {
    padding: 12px 20px;
    background-color: #00838d;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: #fff;
        color: #00838d;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    &:active {
        transform: scale(0.98);
    }
}

#danger {
    &-pass, &-name, &-email, &-number {
        color: $danger-color;
        font-size: 12px;
        margin-top: 5px;
    }
}

@media (max-width: 500px) {
    .main-form {
        padding: 15px;
    }

    #name, #email, #password, #number {
        font-size: 14px;
        padding: 10px;
    }

    #btn {
        width: 100%;
    }
}
