

    <form action="" class="main-form" method="get" id="myForm">
        
        <div class="main-form-name">
            <label for="name" >Enter your name : </label>
            <input type="text" id="name">
            <div id="danger-name"></div>
        </div>

        <div class="main-form-email">
            <label for="email">Enter your email : </label>
        <input type="text" id="email">
        <div id="danger-email"></div>
        </div>
        
        <div class="main-form-password">
        <label for="password">Enter your password : </label>
        <input type="password" id="password">
        <div id="danger-pass"></div>
        
        </div>

        <div class="main-form-number">
            <label for="number">Enter your Number : </label>
        <input type="tel" id="number">
        <div id="danger-number"></div>
        </div>

        <button id="btn" type="submit">Submit</button>
    </form>

