$primary-color: #540275;
$danger-color: #e74c3c;



.main-form {
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &-name,&-email,&-password,&-number {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

#name,#email,#password,#number {
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    font-size: 14px;
}


#btn{
    padding: 10px;
    background-color: $primary-color;
    color: white;
    border:1px hidden;
    font-size: 16px;
    border-radius: 10px;
    &:hover{
        background-color: #fff;
        color: $primary-color;
    }
}



#danger{
    &-pass,&-name,&-email,&-number {
    color: $danger-color;
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}
}

@media (width<500px) {
    .main-form {
        width: 90%;
    }
}