

    <form action="" class="main-form" method="get" id="myForm">
        
        <div class="main-form-name">
            <label for="name" ></label>
            <input type="text" id="name" placeholder="Name">
            <div id="danger-name"></div>
        </div>

        <div class="main-form-email">
            <label for="email"></label>
        <input type="text" id="email" placeholder="Email">
        <div id="danger-email"></div>
        </div>
        
        <div class="main-form-password">
        <label for="password"></label>
        <input type="password" id="password" placeholder="Password">
        <div id="danger-pass"></div>
        
        </div>

        <div class="main-form-number">
            <label for="number"></label>
        <input type="tel" id="number" placeholder="Phone Number">
        <div id="danger-number"></div>
        </div>

        <button class="btn" id="btn" type="submit">Submit</button>
    </form>

