
    <section class="skills">
        <h2>My Skills</h2>
        <div class="skills-container">
            <div class="skill-card">
                <h3>HTML</h3>
                <p>Experienced in creating semantic and accessible web pages.</p>
            </div>
            <div class="skill-card">
                <h3>CSS & SCSS</h3>
                <p>Proficient in modern styling, animations, and responsive design.</p>
            </div>
            <div class="skill-card">
                <h3>JavaScript</h3>
                <p>Strong understanding of ES6+, DOM manipulation, and APIs.</p>
            </div>
            <div class="skill-card">
                <h3>React</h3>
                <p>Created many SPA webiste using React and proficient in optimizing them. </p>
            </div>
            <div class="skill-card">
                <h3>Data Science</h3>
                <p>Proficient in extracting meaningful information from the data and using it for insights.</p>
            </div>
            <div class="skill-card">
                <h3>Machine Learning </h3>
                <p>Using models and data to make predictions and automate tasks.</p>
            </div>
            <div class="skill-card">
                <h3>Neural Networks </h3>
                <p>Proficient in using Neural Networks not solve complex problems.</p>
            </div>
        </div>
    </section>
