
  .wrapper{
    display: flex;
    background: linear-gradient(to right, #002425, #000000);
    padding: 20px;
    justify-content: center;

  }
  .wrapper .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
  }
  .wrapper .icon span{
    display: block;
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
  }
  .wrapper .icon span i{
    line-height: 60px;
    font-size: 25px;
  }
  .wrapper .icon .top-content{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color: #fff;
    padding: 10px 18px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .top-content{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
  }
  .icon .top-content:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    left: 50%;
    bottom: -6px;
    transform: translateX(-50%) rotate(45deg);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover span{
    color: #fff;
  }
  .wrapper .facebook:hover span,
  .wrapper .facebook:hover .top-content,
  .wrapper .facebook:hover .top-content:before{
    background: #3B5999;
  }
  .wrapper .twitter:hover span,
  .wrapper .twitter:hover .top-content,
  .wrapper .twitter:hover .top-content:before{
    background: #46C1F6;
  }
  .wrapper .instagram:hover span,
  .wrapper .instagram:hover .top-content,
  .wrapper .instagram:hover .top-content:before{
    background: #e1306c;
  }
  .wrapper .github:hover span,
  .wrapper .github:hover .top-content,
  .wrapper .github:hover .top-content:before{
    background: #333;
  }
  .wrapper .youtube:hover span,
  .wrapper .youtube:hover .top-content,
  .wrapper .youtube:hover .top-content:before{
    background: #DE463B;
  }

  @media(width<500px){
  .wrapper{
    flex-direction: column;
    gap: 10px;
  }
  }