<div class="wrapper">
    <div class="icon facebook">
       <div class="top-content">
          Facebook
       </div>
       <a href="https://www.facebook.com" role="button" target="_blank"><span><i class="fab fa-facebook-f"></i></span></a>
    </div>
    <div class="icon twitter">
       <div class="top-content">
          Twitter
       </div>
       <a href="https://twitter.com" role="button" target="_blank"><span><i class="fab fa-twitter"></i></span></a>
    </div>
    <div class="icon instagram">
       <div class="top-content">
          Linkedin
       </div>
       <a href="#"></a><span><i class="fab fa-linkedin-in" role="button" target="_blank"></i></span>
    </div>
    <div class="icon github">
       <div class="top-content">
          Github
       </div>
       <a href="https://github.com" role="button" target="_blank"><span><i class="fab fa-github"></i></span></a>
    </div>
    <div class="icon youtube">
       <div class="top-content">
          YouTube
       </div>
       <a href="https://www.youtube.com" role="button" target="_blank"><span><i class="fab fa-youtube"></i></span></a>
    </div>
 </div>