
    <section class="main">
        <div class="main-content">
            <h1>Hey there,<br> <span> I am Utsav Tyagi</span>
                <p>A Passionate Web Developer</p></h1>
                <div class="home__button">
                    <button class="home__hire btn">HIRE ME</button>
                  
                    <button class="home__download btn" >DOWNLOAD CV</button>
                    
                  </div>
            
        </div>
        <div class="main-image">
            <img src="Media.jpg" alt="My Profile Picture"> 
        </div>
    </section>
