.main {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;

    &-content {
        max-width: 50%;
        h1 {
            font-size: 3rem;
            margin: 0;
        }
        p {
            font-size: 1.5rem;
            margin: 10px 0;
        }
    }
    &-image img {
        max-width: 12.5rem;
        border-radius: 50%;
        object-fit: cover;
        border: 5px solid #fff;
    }
}

@media (width<500px){
    .main{
        justify-content: center;

        &-content{
            text-align: center;
        }
    }
}